<h1>Welcome to Chantes.cr</h1>
<p>Find out about the places near you!</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->