<h1>Welcome to Chantes.cr</h1>
<p>Find out about the places near you!</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="input-group">
      <form>
        <input id="geocomplete" type="text" class="form-control" placeholder="Search for..." autocomplete="off">
        <input id="find" type="button" class="form-control btn btn-primary" value="find">
        <div id="map_canvas"></div>
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<script>
  $(document).ready(function(){
    $('#geocomplete').geocomplete({
      map: '#map_canvas'
    });

    $('#find').click(function(){
      $('#geocomplete').trigger('geocode');
    });
  });

</script>