<h1>List of available restaurants</h1>

<% @restaurants.each do |restaurant| %>

<div class="row">
  <div class="card">
    <h4 class="card-title">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </h4>
    <div class="card-text">
      <ul>
        <li>Location: <%= restaurant.location %></li>
        <li>Cuisine: <%= restaurant.cuisine %></li>
      </ul>
    </div>
  </div>

</div>
<% end %>