$navbar-default-bg: #0B858B;
$navbar-default-link-color: black;
$navbar-default-link-hover-bg: #04696E;
$navbar-border-radius: 0;

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 10em;
  padding-top: .5em;
  border-top: 1px solid #eaeaea;
}